In [209]:

import sqlite3 as sl
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [682]:
Inflation_Rate_df=pd.read_csv("C:/Users/nahla/OneDrive/Desktop/Data_Analysis/DataSets/Historical U.S. Inflation Rate by Year_ 1929 to 2024 - Sheet1 (1).csv" )
Inflation_Rate_df

,Year,"Inflation Rate YOY, From Previous Dec.",Federal Funds Rate,Business Cycle*,Events Affecting Inflation
0,1929,0.60%,NaN,August peak,Market crash
1,1930,-6.40%,NaN,Contraction (-8.5%),Smoot-Hawley Tariff Act
2,1931,-9.30%,NaN,Contraction (-6.4%),Dust Bowl began
3,1932,-10.30%,NaN,Contraction (-12.9%),Hoover tax hikes
4,1933,0.80%,NaN,Contraction ended in March (-1.2%),FDR’s New Deal
...,...,...,...,...,...
90,2019,2.30%,1.75%,Expansion (2.5%),NaN
91,2020,1.40%,0.25%,Contraction (-2.2%),COVID-19 pandemic
92,2021,7.00%,0.25%,Expansion (5.8%),COVID-19 pandemic
93,2022,6.50%,4.50%,Expansion (1.9%),Russia invades Ukraine
94,2023,3.40%,5.50%,Expansion (2.5%),Fed raised rates

In [689]:
Inflation_Rate_df['Year'] = Inflation_Rate_df['Year'].astype(int)

# Filter the data from 2018 onwards
Inflation_Rate_df = Inflation_Rate_df[Inflation_Rate_df['Year'] >= 2018]

Inflation_Rate_df

,Year,"Inflation Rate YOY, From Previous Dec.",Federal Funds Rate,Business Cycle*,Events Affecting Inflation
89,2018,1.90%,2.50%,Expansion (3.0%),NaN
90,2019,2.30%,1.75%,Expansion (2.5%),NaN
91,2020,1.40%,0.25%,Contraction (-2.2%),COVID-19 pandemic
92,2021,7.00%,0.25%,Expansion (5.8%),COVID-19 pandemic
93,2022,6.50%,4.50%,Expansion (1.9%),Russia invades Ukraine
94,2023,3.40%,5.50%,Expansion (2.5%),Fed raised rates

In [671]:
years_inf = Inflation_Rate_df['Year'].values 
print(years_inf)

[2020 2021 2022 2023]

In [695]:
Inflation_Rate_df.isnull().sum()

Year                                      0
Inflation Rate YOY, From Previous Dec.    0
Federal Funds Rate                        0
Business Cycle*                           0
Events Affecting Inflation                2
dtype: int64

In [697]:
Inflation_Rate_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, 89 to 94
Data columns (total 5 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Year                                    6 non-null      int32
 1   Inflation Rate YOY, From Previous Dec.  6 non-null      object
 2   Federal Funds Rate                      6 non-null      object
 3   Business Cycle*                         6 non-null      object
 4   Events Affecting Inflation              4 non-null      object
dtypes: int32(1), object(4)
memory usage: 264.0+ bytes

In [699]:
retail_sales_df = pd.read_csv("C:/Users/nahla/OneDrive/Desktop/Data_Analysis/DataSets/StateAndCategory (1).csv", encoding="latin1")
retail_sales_df.columns

Index(['Date', 'State', 'Category', 'Variable', 'Value'], dtype='object')

In [701]:
sales_df = pd.merge(Groceries_sales_df, Inflation_Rate_df, 
                              left_on='Year', right_on='Year', how='left')

In [220]:
Groceries_sales_df = pd.read_csv("C:/Users/nahla/OneDrive/Desktop/Data_Analysis/DataSets/Food_price.csv")
Groceries_sales_df.columns

Index(['Consumer Price Index item', 'Year', 'Percent change'], dtype='object')

In [462]:
retail_sales_df

,Date,State,Category,Variable,Value
0,2019-10-06,Alabama,Alcohol,Dollars,23611285.0
1,2019-10-13,Alabama,Alcohol,Dollars,23220758.0
2,2019-10-20,Alabama,Alcohol,Dollars,21770283.0
3,2019-10-27,Alabama,Alcohol,Dollars,21956558.0
4,2019-11-03,Alabama,Alcohol,Dollars,23183482.0
...,...,...,...,...,...
889235,2023-04-09,Wyoming,Vegetables,Percent change units 3 years,-10.0
889236,2023-04-16,Wyoming,Vegetables,Percent change units 3 years,-22.2
889237,2023-04-23,Wyoming,Vegetables,Percent change units 3 years,-18.6
889238,2023-04-30,Wyoming,Vegetables,Percent change units 3 years,-17.9
889239,2023-05-07,Wyoming,Vegetables,Percent change units 3 years,-13.3

In [476]:
Groceries_sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 3 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Consumer Price Index item  1100 non-null   object
 1   Year                       1100 non-null   int64
 2   Percent change             1075 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 25.9+ KB

In [478]:
print(Groceries_sales_df['Year'].dtype)

int64

In [703]:
Groceries_sales_df['Year'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1100 entries, 0 to 1099
Series name: Year
Non-Null Count  Dtype
--------------  -----
1100 non-null   int64
dtypes: int64(1)
memory usage: 8.7 KB

In [705]:
print(Inflation_Rate_df['Year'].dtype)

int32

In [707]:
print(Groceries_sales_df.dtypes)

Consumer Price Index item     object
Year                           int64
Percent change               float64
dtype: object

In [721]:
# Drop rows where 'Consumer Price Index item' is 'All food' or 'Other foods'
Groceries_sales_df = Groceries_sales_df[~Groceries_sales_df['Consumer Price Index item'].isin(['All food', 'Food away from home','Food at home'	, 'Other foods'])]
Groceries_sales_df = Groceries_sales_df[Groceries_sales_df['Year'] >= 2018]
# Display the updated DataFrame
Groceries_sales_df.head()

    Consumer Price Index item  Year  Percent change
194  Meats, poultry, and fish  2018             0.7
195  Meats, poultry, and fish  2019             1.0
196  Meats, poultry, and fish  2020             6.3
197  Meats, poultry, and fish  2021             6.8
198  Meats, poultry, and fish  2022             9.6

In [723]:
sales_df = pd.merge(Groceries_sales_df, Inflation_Rate_df, 
                              left_on='Year', right_on='Year', how='left')

In [725]:
sales_df

,Consumer Price Index item,Year,Percent change,"Inflation Rate YOY, From Previous Dec.",Federal Funds Rate,Business Cycle*,Events Affecting Inflation
0,"Meats, poultry, and fish",2018,0.7,1.90%,2.50%,Expansion (3.0%),NaN
1,"Meats, poultry, and fish",2019,1.0,2.30%,1.75%,Expansion (2.5%),NaN
2,"Meats, poultry, and fish",2020,6.3,1.40%,0.25%,Contraction (-2.2%),COVID-19 pandemic
3,"Meats, poultry, and fish",2021,6.8,7.00%,0.25%,Expansion (5.8%),COVID-19 pandemic
4,"Meats, poultry, and fish",2022,9.6,6.50%,4.50%,Expansion (1.9%),Russia invades Ukraine
...,...,...,...,...,...,...,...
103,Nonalcoholic beverages,2019,1.9,2.30%,1.75%,Expansion (2.5%),NaN
104,Nonalcoholic beverages,2020,3.6,1.40%,0.25%,Contraction (-2.2%),COVID-19 pandemic
105,Nonalcoholic beverages,2021,2.8,7.00%,0.25%,Expansion (5.8%),COVID-19 pandemic
106,Nonalcoholic beverages,2022,11.0,6.50%,4.50%,Expansion (1.9%),Russia invades Ukraine
107,Nonalcoholic beverages,2023,7.0,3.40%,5.50%,Expansion (2.5%),Fed raised rates

In [727]:
Groceries_sales_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 108 entries, 194 to 1049
Data columns (total 3 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Consumer Price Index item  108 non-null    object
 1   Year                       108 non-null    int64
 2   Percent change             108 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 3.4+ KB

In [729]:
sales_df.isnull().sum()

Consumer Price Index item                  0
Year                                       0
Percent change                             0
Inflation Rate YOY, From Previous Dec.     0
Federal Funds Rate                         0
Business Cycle*                            0
Events Affecting Inflation                36
dtype: int64

In [731]:
sales_df.dropna(inplace=True)

In [733]:
sales_df.isnull().sum()

Consumer Price Index item                 0
Year                                      0
Percent change                            0
Inflation Rate YOY, From Previous Dec.    0
Federal Funds Rate                        0
Business Cycle*                           0
Events Affecting Inflation                0
dtype: int64

In [735]:
sales_df

,Consumer Price Index item,Year,Percent change,"Inflation Rate YOY, From Previous Dec.",Federal Funds Rate,Business Cycle*,Events Affecting Inflation
2,"Meats, poultry, and fish",2020,6.3,1.40%,0.25%,Contraction (-2.2%),COVID-19 pandemic
3,"Meats, poultry, and fish",2021,6.8,7.00%,0.25%,Expansion (5.8%),COVID-19 pandemic
4,"Meats, poultry, and fish",2022,9.6,6.50%,4.50%,Expansion (1.9%),Russia invades Ukraine
5,"Meats, poultry, and fish",2023,2.0,3.40%,5.50%,Expansion (2.5%),Fed raised rates
8,Meats,2020,7.4,1.40%,0.25%,Contraction (-2.2%),COVID-19 pandemic
...,...,...,...,...,...,...,...
101,Cereals and bakery products,2023,8.4,3.40%,5.50%,Expansion (2.5%),Fed raised rates
104,Nonalcoholic beverages,2020,3.6,1.40%,0.25%,Contraction (-2.2%),COVID-19 pandemic
105,Nonalcoholic beverages,2021,2.8,7.00%,0.25%,Expansion (5.8%),COVID-19 pandemic
106,Nonalcoholic beverages,2022,11.0,6.50%,4.50%,Expansion (1.9%),Russia invades Ukraine
107,Nonalcoholic beverages,2023,7.0,3.40%,5.50%,Expansion (2.5%),Fed raised rates

In [737]:
sales_df.columns

Index(['Consumer Price Index item', 'Year', 'Percent change',
       'Inflation Rate YOY, From Previous Dec.', 'Federal Funds Rate',
       'Business Cycle*', 'Events Affecting Inflation'],
      dtype='object')

In [739]:
sales_df.columns

Index(['Consumer Price Index item', 'Year', 'Percent change',
       'Inflation Rate YOY, From Previous Dec.', 'Federal Funds Rate',
       'Business Cycle*', 'Events Affecting Inflation'],
      dtype='object')

In [741]:
# Rename remaining columns for clarity
sales_df.rename(columns={
    'Inflation Rate YOY, From Previous Dec.': 'Inflation Rate YOY From Previous Dec', 
    'Federal Funds Rate_x': 'Federal Funds Rate', 
    'Business Cycle*_x': 'Business Cycle*', 
    'Events Affecting Inflation_x': 'Events Affecting Inflation'
    ,'Consumer Price Index item':'item'
}, inplace=True)

In [510]:
sales_df.columns

Index(['item', 'Year', 'Percent change',
       'Inflation Rate YOY From Previous Dec', 'Federal Funds Rate',
       'Business Cycle*', 'Events Affecting Inflation'],
      dtype='object')

In [512]:
sales_df.head()

,item,Year,Percent change,Inflation Rate YOY From Previous Dec,Federal Funds Rate,Business Cycle*,Events Affecting Inflation
0,All food,1974,14.3,12.30%,8.00%,Contraction (-0.5%),Watergate scandal
1,All food,1975,8.5,6.90%,4.75%,March trough (-0.2%),Stopgap monetary policy confused businesses an...
6,All food,1980,8.6,12.50%,18.00%,January peak (-0.3%),Recession began
7,All food,1981,7.8,8.90%,12.00%,July trough (2.5%),Reagan tax cut
8,All food,1982,4.1,3.80%,8.50%,Contraction (-1.8%),Recession ended

In [514]:

retail_sales_df.head()

         Date    State Category Variable       Value
0  2019-10-06  Alabama  Alcohol  Dollars  23611285.0
1  2019-10-13  Alabama  Alcohol  Dollars  23220758.0
2  2019-10-20  Alabama  Alcohol  Dollars  21770283.0
3  2019-10-27  Alabama  Alcohol  Dollars  21956558.0
4  2019-11-03  Alabama  Alcohol  Dollars  23183482.0

In [743]:
# Rename the 'Value' column to 'Price'
retail_sales_df.rename(columns={"Value": "Price"}, inplace=True)

# Display the updated DataFrame
retail_sales_df.head()

         Date    State Category Variable       Price
0  2019-10-06  Alabama  Alcohol  Dollars  23611285.0
1  2019-10-13  Alabama  Alcohol  Dollars  23220758.0
2  2019-10-20  Alabama  Alcohol  Dollars  21770283.0
3  2019-10-27  Alabama  Alcohol  Dollars  21956558.0
4  2019-11-03  Alabama  Alcohol  Dollars  23183482.0

In [745]:
retail_sales_df.isnull().sum()

Date             0
State            0
Category         0
Variable         0
Price       199066
dtype: int64

In [747]:

print(retail_sales_df.columns)

Index(['Date', 'State', 'Category', 'Variable', 'Price'], dtype='object')

In [749]:
retail_sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 889240 entries, 0 to 889239
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Date      889240 non-null  object
 1   State     889240 non-null  object
 2   Category  889240 non-null  object
 3   Variable  889240 non-null  object
 4   Price     690174 non-null  float64
dtypes: float64(1), object(4)
memory usage: 33.9+ MB

In [751]:
retail_sales_df.loc[:, 'Date'] = pd.to_datetime(retail_sales_df['Date'])

In [752]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 72 entries, 2 to 107
Data columns (total 7 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   item                                  72 non-null     object
 1   Year                                  72 non-null     int64
 2   Percent change                        72 non-null     float64
 3   Inflation Rate YOY From Previous Dec  72 non-null     object
 4   Federal Funds Rate                    72 non-null     object
 5   Business Cycle*                       72 non-null     object
 6   Events Affecting Inflation            72 non-null     object
dtypes: float64(1), int64(1), object(5)
memory usage: 4.5+ KB

In [753]:

retail_sales_df['Date'] = pd.to_datetime(retail_sales_df['Date'], errors='coerce')

In [757]:
print(retail_sales_df.dtypes)

Date        datetime64[ns]
State               object
Category            object
Variable            object
Price              float64
dtype: object

In [759]:
retail_sales_df['Year'] = retail_sales_df['Date'].dt.year

In [761]:
retail_sales_df['Category'].unique()

array(['Alcohol', 'Beverages', 'Commercially prepared items', 'Dairy',
       'Fats and oils', 'Fruits', 'Grains', 'Meats, eggs, and nuts',
       'Other', 'Sugar and sweeteners', 'Vegetables'], dtype=object)

In [763]:
retail_sales_df = retail_sales_df[retail_sales_df['Category'] != 'Other']

In [765]:
retail_sales_df['Category'].unique()

array(['Alcohol', 'Beverages', 'Commercially prepared items', 'Dairy',
       'Fats and oils', 'Fruits', 'Grains', 'Meats, eggs, and nuts',
       'Sugar and sweeteners', 'Vegetables'], dtype=object)

In [767]:
sales_df.columns

Index(['item', 'Year', 'Percent change',
       'Inflation Rate YOY From Previous Dec', 'Federal Funds Rate',
       'Business Cycle*', 'Events Affecting Inflation'],
      dtype='object')

In [769]:
sales_df['item'].unique()

array(['Meats, poultry, and fish', 'Meats', 'Beef and veal', 'Pork',
       'Other meats', 'Poultry', 'Fish and seafood', 'Eggs',
       'Dairy products', 'Fats and oils', 'Fruits and vegetables',
       'Fresh fruits and vegetables', 'Fresh fruits', 'Fresh vegetables',
       'Processed fruits and vegetables', 'Sugar and sweets',
       'Cereals and bakery products', 'Nonalcoholic beverages'],
      dtype=object)

In [771]:
categories_to_drop = ['All food', 'Food away from home', 'Food at home',
                      'Meats, poultry, and fish', 'Beef and veal', 
                      'Other meats', 'Other foods']

# Ensure sales_df is a DataFrame before filtering
if isinstance(sales_df, pd.DataFrame):
    sales_df = sales_df[~sales_df['item'].isin(categories_to_drop)]
else:
    print("Error: sales_df is not a DataFrame.")

In [773]:
type(sales_df)

pandas.core.frame.DataFrame

In [775]:
sales_df['item'].unique()

array(['Meats', 'Pork', 'Poultry', 'Fish and seafood', 'Eggs',
       'Dairy products', 'Fats and oils', 'Fruits and vegetables',
       'Fresh fruits and vegetables', 'Fresh fruits', 'Fresh vegetables',
       'Processed fruits and vegetables', 'Sugar and sweets',
       'Cereals and bakery products', 'Nonalcoholic beverages'],
      dtype=object)

In [777]:

sales_inflation_data = pd.merge(sales_df, retail_sales_df, 
                                on='Year', 
                                how='left')

In [778]:
sales_inflation_data = sales_inflation_data.drop(columns=['Date'])

In [779]:
sales_inflation_data.columns

Index(['item', 'Year', 'Percent change',
       'Inflation Rate YOY From Previous Dec', 'Federal Funds Rate',
       'Business Cycle*', 'Events Affecting Inflation', 'State', 'Category',
       'Variable', 'Price'],
      dtype='object')

In [780]:
sales_inflation_data.tail()

,item,Year,Percent change,Inflation Rate YOY From Previous Dec,Federal Funds Rate,Business Cycle*,Events Affecting Inflation,State,Category,Variable,Price
11287495,Nonalcoholic beverages,2023,7.0,3.40%,5.50%,Expansion (2.5%),Fed raised rates,Wyoming,Vegetables,Percent change units 3 years,-10.0
11287496,Nonalcoholic beverages,2023,7.0,3.40%,5.50%,Expansion (2.5%),Fed raised rates,Wyoming,Vegetables,Percent change units 3 years,-22.2
11287497,Nonalcoholic beverages,2023,7.0,3.40%,5.50%,Expansion (2.5%),Fed raised rates,Wyoming,Vegetables,Percent change units 3 years,-18.6
11287498,Nonalcoholic beverages,2023,7.0,3.40%,5.50%,Expansion (2.5%),Fed raised rates,Wyoming,Vegetables,Percent change units 3 years,-17.9
11287499,Nonalcoholic beverages,2023,7.0,3.40%,5.50%,Expansion (2.5%),Fed raised rates,Wyoming,Vegetables,Percent change units 3 years,-13.3

In [781]:
sales_inflation_df = sales_inflation_data[sales_inflation_data["Year"] >= 2020]  # Keep data from 2020 onwards
sales_inflation_df.to_csv("small_data.csv", index=False)

In [782]:
# Save the DataFrame to a CSV file
sales_inflation_df.to_csv('sales_inflation_df.csv', index=False)

In [783]:
sales_inflation_df

,item,Year,Percent change,Inflation Rate YOY From Previous Dec,Federal Funds Rate,Business Cycle*,Events Affecting Inflation,State,Category,Variable,Price
0,Meats,2020,7.4,1.40%,0.25%,Contraction (-2.2%),COVID-19 pandemic,Alabama,Alcohol,Dollars,21567138.0
1,Meats,2020,7.4,1.40%,0.25%,Contraction (-2.2%),COVID-19 pandemic,Alabama,Alcohol,Dollars,19396186.0
2,Meats,2020,7.4,1.40%,0.25%,Contraction (-2.2%),COVID-19 pandemic,Alabama,Alcohol,Dollars,20285818.0
3,Meats,2020,7.4,1.40%,0.25%,Contraction (-2.2%),COVID-19 pandemic,Alabama,Alcohol,Dollars,19559231.0
4,Meats,2020,7.4,1.40%,0.25%,Contraction (-2.2%),COVID-19 pandemic,Alabama,Alcohol,Dollars,20591010.0
...,...,...,...,...,...,...,...,...,...,...,...
11287495,Nonalcoholic beverages,2023,7.0,3.40%,5.50%,Expansion (2.5%),Fed raised rates,Wyoming,Vegetables,Percent change units 3 years,-10.0
11287496,Nonalcoholic beverages,2023,7.0,3.40%,5.50%,Expansion (2.5%),Fed raised rates,Wyoming,Vegetables,Percent change units 3 years,-22.2
11287497,Nonalcoholic beverages,2023,7.0,3.40%,5.50%,Expansion (2.5%),Fed raised rates,Wyoming,Vegetables,Percent change units 3 years,-18.6
11287498,Nonalcoholic beverages,2023,7.0,3.40%,5.50%,Expansion (2.5%),Fed raised rates,Wyoming,Vegetables,Percent change units 3 years,-17.9
11287499,Nonalcoholic beverages,2023,7.0,3.40%,5.50%,Expansion (2.5%),Fed raised rates,Wyoming,Vegetables,Percent change units 3 years,-13.3

In [784]:
import os
print(os.getcwd())

C:\Users\nahla

In [785]:
# Remove the 'item' and 'Subcategory' columns
sales_inflation_df = sales_inflation_df.drop(columns=['item', 'Subcategory'])

# Check the updated DataFrame
print(sales_inflation_df.head())
print(sales_inflation_df.columns)

KeyError: "['Subcategory'] not found in axis"

In [ ]:
sales_inflation_df.to_csv('sales_inflation_df.csv', index=False)

In [ ]:
sales_inflation_df.info()
sales_inflation_df = sales_inflation_df.drop(columns=['Inflation Rate YOY From Previous Dec'])
.head()

In [ ]:
sales_inflation_df['Inflation Rate YOY From Previous Dec']

In [ ]:
sales_inflation_df.columns()

In [ ]:

# Calculate summary statistics
summary_stats = sales_inflation_df[['Percent change', 'Value', 'Inflation Adjusted Value']].describe()
summary_stats

In [ ]:

# Calculate mean, median, and standard deviation separately
percent_change_stats = sales_inflation_df['Percent change'].agg(['mean', 'median', 'std'])
value_stats = sales_inflation_df['Value'].agg(['mean', 'median', 'std'])
inflation_adjusted_value_stats = sales_inflation_df['Inflation Adjusted Value'].agg(['mean', 'median', 'std'])
percent_change_stats
value_stats
inflation_adjusted_value_stats

In [ ]:
print(sales_inflation_df['Inflation Rate YOY From Previous Dec'].isna().sum())  # Count missing values
print(sales_inflation_df[['Year', 'Inflation Rate YOY From Previous Dec']].dropna().head())  # Check valid data

In [ ]:

# Min/Max values for Value and Inflation Adjusted Value
min_value = sales_inflation_df['Value'].min()
max_value = sales_inflation_df['Value'].max()

In [ ]:
# Print summary statistics
print("\nMin/Max Values:")
print("Min Value:", min_value, "Max Value:", max_value)

In [ ]:
Total_Value_by_Category = sales_inflation_df.groupby('Category')['Value'].sum()
Total_Value_by_Category

In [ ]:
sales_inflation_df.columns

In [ ]:
# Group by Category and Subcategory to calculate the total and average values
grouped_stats = sales_inflation_df.groupby(['Category']).agg({
    'Value': ['sum', 'mean'],
}).reset_index()
print("\nGrouped Statistics by Category and Subcategory:\n", grouped_stats)

In [ ]:
sales_inflation_df = sales_inflation_df.rename(columns={'Inflation Rate YOY From Previous Dec ': 'Inflation Rate YOY From Previous Dec'})

In [ ]:
print(sales_inflation_df.columns)

In [ ]:
sales_inflation_df['Inflation Adjusted Value']

In [ ]:
# Plot the trend of Inflation Rate YOY From Previous Dec over time
plt.figure(figsize=(10, 5))
plt.plot(sales_inflation_df['Year'], sales_inflation_df['Percent change'], marker='o', linestyle='-')
plt.title('Trend of Inflation Rate YOY From Previous Dec Over Time')
plt.xlabel('Year')
plt.ylabel('Percent change')
plt.grid(True)
plt.show()

In [ ]:

plt.figure(figsize=(10, 6))
plt.scatter(sales_inflation_df['Percent change'], sales_inflation_df['Value'], c='blue', alpha=0.5)
plt.xlabel('Percent Change (Inflation)')
plt.ylabel('Value')  # Use the correct column name here
plt.title('Price vs Percent Change by  product')
plt.grid(True)
plt.show()

In [ ]:


# Plot a heatmap of the correlation matrix
plt.figure(figsize=(10, 6))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt='.2f', linewidths=0.5)
plt.title('Correlation Matrix')
plt.show()

In [ ]:
plt.figure(figsize=(10, 6))
sns.lineplot(x='Year', y='Percent change', data=sales_inflation_df)
plt.title('Percent Change Over Time')
plt.xlabel('Year')
plt.ylabel('Percent Change')
plt.show()

In [ ]:

# Bar chart for total revenue by category
plt.figure(figsize=(12, 6))
sns.barplot(data=grouped_stats, x='Category', y=('Value', 'sum'))
plt.title('Total Revenue by Category')
plt.xlabel('Category')
plt.ylabel('Total Revenue')
plt.xticks(rotation=45)
plt.show()

In [ ]:
sales_inflation_df.to_csv('sales_inflation_df.csv', index=False)